.mainDiv{
    height: 60vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulary{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.select{
    width:20%;
    margin-bottom: 5%
}

#F1{
    width: 5%;
}

#F2{
    width: 10%;
}

#F3{
    width: 25%;
}


