.mainDiv{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulary{
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.select{
    width: 21%;
    margin-bottom: 5%
}

